@import url(http://fonts.googleapis.com/css?family=Quattrocento);

body {
	background-image: url('../img/ricepaper.png');
	font-family: 'Quattrocento', serif;
}

h2 {
    margin: 5px 0px;
    text-align: center;
    font-size: 2em;
    color: #0A1932;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#title {
	width: 370px;
	margin-top: 20px;
	margin-left: 10px;
}

#logo {
	width: 120px;
	margin: 5px 0px 0px 5px;
}

.clearBoth {
    clear: both;
}

/* Styling for navigation bar */

nav {
    clear: both;
    height: 50px;
    position: absolute;
    width: 900px;
    top: 90px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: .3em;
}

.nav {
    float: right;
    margin: auto 1.1%;
    position: relative;
}

.nav a {
    display: block;
    padding: .5em;
    background: -webkit-gradient(linear, left top, left bottom, from(#B40527), to(#83192C));
    border-style: solid;
    border-width: 0.1em;
    border-color: #7C1A19;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 130px;
    box-shadow: 2px 2px 3px rgba(128,30,29,0.5);
    font-size: 0.85em;
}

.nav a:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#83192C), to(#B40527));
    color: #CCCCCC;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 100;
    background-color: white;
    /* border-width: 1px; */
    /* border-color: #CCC; */
}

.nav:hover .dropdown {
    display: block;
}

.dropdown li {
    float: none;
}

.dropdown a {
    background: none;
    color: black;
    box-shadow: none;
    border: none;
    text-align: left;
    padding: 3px;
    width: 136px;
}

.dropdown a:hover {
    background: none;
    background-color: #EEE;
    color: black;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
}

#counter {
    background-color: rgba(150, 150, 150, 0.4);
    right: 6%;
    top: 17%;
    position: absolute;
    border-radius: 5px;
    padding: 2px 4px;
    color: white;
}

#toggle {
    position: relative;
    width: 200px;
    float: right;
    margin: auto 1.1%;
    font-size: 0.85em;
    cursor: pointer;
}

#statusLabel {
    color: white;
    position: absolute;
    left: 3px;
    top: -25px;
}

/* End styling of navigation bar. */

/* Styling of login form. */

#loginForm {
    display: none;
    margin-right: 25px;
    margin-top: 25px;
}

section#login {
    float: right;
}

#login_email, #login_password {
    width: 120px;
    margin-right: 2px;
    margin-left: 0px;
    border-radius: 4px 4px 4px 4px;
}

/* End styling of login section. */

/* Styling of welcome section. */

#welcomeMessage {
    display: block;
    margin-right: 40px;
    margin-top: 20px;
    width: 300px;
    text-align: right;
    position: relative;
}

.welcome {
    color: #FFF6D6;
    font-size: 1.7em;
    text-shadow: 2px 2px 3px rgba(160,150,138,0.4);
    display: inline-block;
    word-wrap: break-word;
}

#welcomeMessage ul {
    list-style: none;
}

#welcomeMessage img {
    width: 20px;
    margin-left: 5px;
}

#welcomeMessage #welcome:hover .dropdown {
    display: block;
}

#welcomeMessage .account {
    right: 0px;
    text-align: left;
    width: 200px;
}

#welcomeMessage #welcome:hover .dropdown a {
    display: block;
    width: 192px;
}

/* End styling of welcome section. */

/* Styling of buttons. */

.button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE5C5), to(#CEC7AE));
    border-style: solid;
    border-width: 0.1em;
    border-color: #FBE0C4;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    box-shadow: 1px 1px 1px rgba(221,213,186,0.5);
    font-size: 0.85em;
    padding: 3px 4px;
    width: 120px;
    margin: 5px 3px;
    font-family: 'Amethysta', serif;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#CEC7AE), to(#EEE5C5));
    color: #555555;
    cursor: pointer;
}

.dark {
    background: -webkit-gradient(linear, left top, left bottom, from(#A79C7C), to(#524B28));
    border-color: #490706;
}

.dark:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#524B28), to(#A79C7C));
}

.small {
    font-size: .75em;
    margin: 2px;
    width: auto;
}

/* End styling of buttons. */

/* Styling header, main, and footer */

header, footer {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header, main, footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px rgba(82,73,40,0.5);
    padding-left: 0.5%;
    padding-right: 0.5%;
}

header {
    background-color: #192942;
    padding-top: 1%;
    position: relative;
    height: 120px;
}

header > a img {
    float: left;
    width: 150px;
    margin-right: 10px;
}

header > a h1 {
    font-size: 45px;
    margin: 0px;
    color: #DBF8DA;
    text-shadow: 3px 3px rgba(82,73,40,0.5);
    display: inline-block;
}

header a {
    text-decoration: none;
}


main {
    background-color: #FBE0C4;
    border: 1.3px solid #B7A080;
    border-top: none;
    border-bottom: none;
    width: 897.4px;
    position: relative;
}

footer {
    clear: both;
    text-align: center;
    margin: auto;
    background-color: #83192C;
    height: 30px;
    color: black;
    position: relative;
}

footer ul {
    list-style: none;
    margin: 0px;
    display: inline-block;
    position: relative;
    top: 20%;
}

footer li {
	display: inline;
    margin-right: 10px;
    position: relative;
    top: -50%;
}

footer li a {
    text-decoration: none;
    color: white;
    font-size: 0.85em;
}

footer li a:hover {
    color: #CCCCCC;
}

/* End header, main, footer styling. */


/* Start search page styling. */

#tutorSearchPage {
    display: table;
    padding: 0px 20px;
    width: 857px;
}

#searchTutors {
    background-color: #3092B0;
    border-left: 2px solid #192942;
    border-right: 2px solid #192942;
    width: 175px;
    padding: 10px;
    display: table-cell;
    text-align: center;
}

form#searchTutorsForm, form#searchTutorsForm input[type='submit'] {
    margin-top: 20px;
}

form#searchTutorsForm input[type='text'] {
    width: 150px;
    margin: 3px 0px;
    height: 20px;
}

form#searchTutorsForm #search-subject {
    width: 155px;
    margin: 3px 0px;
    height: 25px;
}

section#tutors {
    padding-left: 30px;
    padding-bottom: 30px;
}

section#tutors h2 {
    text-align: left;
}

.tutorBox {
    background-color: #F0EAE3;
    border: 1px solid #83192C;
    display: inline-block;
    height: 220px;
    vertical-align: top;
    margin: 8px 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tutorProfileLink {
    text-decoration: none;
}

.tutorBox span {
    color: black;
}

.tutorBox-small {
    width: 140px;
    display: inline-block;
}

.tutorPicture {
    background-color: #BCB1A6;
    position: relative;
    border: 1px dashed #83192C;
    margin: 5px auto;
    width: 120px;
    height: 160px;
    text-align: center;
}

.tutorPicture img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 120px;
    max-height: 160px;
    vertical-align: middle;
}

.tutorNameAvailability {
    padding: 5px 10px;
}

.tutorNameAvailability > img {
    width: 12px;
    float: right;
}

.tutorBox-extended {
    display: none;
    position: absolute;
    left: 140px;
    top: -1px;
    width: 312px;
    height: 220px;
    z-index: 1;
    background-color: #F0EAE3;
    border: 1px solid #83192C;
    border-left: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tutorNameRating {
    margin-top: 60px;
    margin-left: 15px;
}

.tutorBox-extended .tutorName {
    font-size: 2em;
}

.available, .busy {
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
    margin: 5px;
    float: right;
}

.available {
    border-color: #066d18;
    background-color: #86cd93;
}

.busy {
    border-color: #c2c018;
    background-color: #f7f698;
}

.rating {
    margin-left: 20px;
}

.ratingStars {
    display: inline-block;
}

.ratingStars img {
    width: 16px;
}

/* End search page styling. */


.heading {
    font-size: 2em;
    color: #192942;
    text-shadow: 2px 2px 2px rgba(25,41,66,0.5);
    margin: 10px;
}

.subheading {
    margin-bottom: -10px;
    font-size: 1.5em;
}

/* Styling for History. */

.history h2.heading {
    text-align: left;
}

/* End Styling for History. */

/* Styling for Student History View. */

section#student_history {
    display: block;
    position: relative;
}

#share {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

/* Styling for Share window. */

section#share_history {
    display: block;
    background-color: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}

section#share_history #share_form {
    position: fixed;
    width: 350px;
    height: auto;
    left: 50%;
    top: 25%;
    margin-left: -175px;
    background-color: #FDF8DD;
    border-style: solid;
    border-color: #B9B499;
}

.share_email {
    width: 350px;
}

.share_email input {
    display: inline-block;
    width: 43%;
    margin-left: 2%;
}

.share_email label {
    display: inline-block;
    text-align: right;
    width: 35%;
}

div.center {
    text-align: center;
    margin: 5px;
}

#share_history #share_send {
    background: -webkit-gradient(linear, left top, left bottom, from(#B40527), to(#83192C));
    color: white;
}

#share_history #share_send:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#83192C), to(#B40527));
    color: #CCC;
}

/* End styling for Share window. */

/* End styling for Student History View. */

/* Styling for Tutor History View. */

section#tutor_history {
    display: none;
}

/* End styling for Tutor History View. */