@import url(http://fonts.googleapis.com/css?family=Quattrocento);

body {
	background-image: url('../img/ricepaper.png');
	font-family: 'Quattrocento', serif;
}

h2 {
    margin: 5px 0px;
    text-align: center;
    font-size: 2em;
    color: #0A1932;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.left {
    text-align: left;
}

.heading {
    font-size: 2em;
    color: #192942;
    text-shadow: 2px 2px 2px rgba(25,41,66,0.5);
    margin: 0px;
    padding: 15px;
}

.subheading {
    margin: 0px;
    font-size: 1.5em;
}

.error {
    display: block;
    text-align: center;
    color: #9E3C3B;
    font-weight: bold;
}

#title {
	width: 370px;
	margin-top: 20px;
	margin-left: 10px;
}

#logo {
	width: 120px;
	margin: 5px 0px 0px 5px;
}

.clearBoth {
    clear: both;
}

a#settings:focus {
    outline: 0;
}

/* Styling for navigation bar */

nav {
    clear: both;
    height: 50px;
    position: absolute;
    width: 900px;
    top: 90px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: .3em;
}

.nav {
    float: right;
    margin: auto 1.1%;
    position: relative;
}

.nav a {
    display: block;
    padding: .5em;
    background: -webkit-gradient(linear, left top, left bottom, from(#B40527), to(#83192C));
    border-style: solid;
    border-width: 0.1em;
    border-color: #7C1A19;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 130px;
    box-shadow: 2px 2px 3px rgba(128,30,29,0.5);
    font-size: 0.85em;
}

.nav a:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#83192C), to(#B40527));
    color: #CCCCCC;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 100;
    background-color: white;
    /* border-width: 1px; */
    /* border-color: #CCC; */
}

.nav:hover .dropdown {
    display: block;
}

.dropdown li {
    float: none;
}

.dropdown a {
    background: none;
    color: black;
    box-shadow: none;
    border: none;
    text-align: left;
    padding: 3px;
    width: 136px;
}

.dropdown a:hover {
    background: none;
    background-color: #EEE;
    color: black;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
}

#counter {
    background-color: rgba(150, 150, 150, 0.4);
    right: 6%;
    top: 17%;
    position: absolute;
    border-radius: 5px;
    padding: 2px 4px;
    color: white;
}

.toggle {
    position: relative;
    width: 200px;
    float: right;
    margin: auto 1.1%;
    font-size: 0.85em;
    cursor: pointer;
}

#statusLabel {
    color: white;
    position: absolute;
    left: 3px;
    top: -25px;
}

/* End styling of navigation bar. */

/* Styling of login form. */

#loginForm {
    display: none;
    margin-right: 25px;
    margin-top: 25px;
}

section#login {
    float: right;
}

#login_email, #login_password {
    width: 120px;
    margin-right: 2px;
    margin-left: 0px;
    border-radius: 4px 4px 4px 4px;
}

/* End styling of login section. */

/* Styling of welcome section. */

#welcomeMessage {
    display: block;
    margin-right: 40px;
    margin-top: 20px;
    width: 300px;
    text-align: right;
    position: relative;
}

.welcome {
    color: #D7D4C8;
    font-size: 1.7em;
    text-shadow: 2px 2px 3px rgba(160,150,138,0.4);
    display: inline-block;
    word-wrap: break-word;
}

#welcomeMessage ul {
    list-style: none;
}

#welcomeMessage img[src="img/gear.png"] {
    width: 20px;
    margin-left: 5px;
}

#welcomeMessage img[src="img/gear_arrow.png"] {
    position: absolute;
    transition: -webkit-transform 0.5s;
    top: 12px;
    right: -10px;
    width: 7px;
}


#welcomeMessage #welcome .dropdown {
    display: none;
    margin-right: -10px;
}

#welcomeMessage .account {
    right: 0px;
    text-align: left;
    width: 200px;
}

#welcomeMessage #welcome .dropdown a {
    display: block;
    width: 192px;s
}

#settings_message {
    top: 30px;
    right: -20px;
}

/* End styling of welcome section. */

/* Styling of buttons. */

a.button {
    text-align: center;
}

.button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCF3EA), to(#E2D5C5));
    border-style: solid;
    border-width: 0.1em;
    border-color: #A0968A;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    box-shadow: 1px 1px 1px rgba(221,213,186,0.5);
    font-size: 0.85em;
    padding: 3px 4px;
    width: 120px;
    margin: 5px 3px;
    font-family: 'Amethysta', serif;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E2D5C5), to(#FCF3EA));
    color: #555555;
    cursor: pointer;
}

.dark {
    background: -webkit-gradient(linear, left top, left bottom, from(#A79C7C), to(#524B28));
    border-color: #490706;
}

.dark:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#524B28), to(#A79C7C));
}

.small {
    font-size: .75em;
    margin: 2px;
    width: auto;
}

/* End styling of buttons. */

/* Styling header, main, and footer */

header, footer {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header, main, footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px rgba(82,73,40,0.5);
    padding-left: 7px;
    padding-right: 7px;
}

header {
    background-color: #192942;
    padding-top: 1%;
    position: relative;
    height: 120px;
}

header > a img {
    float: left;
    width: 150px;
    margin-right: 10px;
}

header > a h1 {
    font-size: 45px;
    margin: 0px;
    color: #DBF8DA;
    text-shadow: 3px 3px rgba(82,73,40,0.5);
    display: inline-block;
}

header a {
    text-decoration: none;
}


main {
    background-color: #FEECDA;
    border: 1.3px solid #B7A080;
    border-top: none;
    border-bottom: none;
    width: 897.4px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 5px;
}

footer {
    clear: both;
    text-align: center;
    margin: auto;
    background-color: #83192C;
    height: 30px;
    color: black;
    position: relative;
}

footer ul {
    list-style: none;
    margin: 0px;
    display: inline-block;
    position: relative;
    top: 20%;
}

footer li {
	display: inline;
    margin-right: 10px;
    position: relative;
    top: -50%;
}

footer li a {
    text-decoration: none;
    color: white;
    font-size: 0.85em;
}

footer li a:hover {
    color: #CCCCCC;
}

/* End header, main, footer styling. */


/* Start search page styling. */

main#search {
    padding-top: 0px;
    padding-bottom: 0px;
}

#tutorSearchPage {
    display: table;
    padding: 0px 20px;
    width: 857px;
}

#searchTutors {
    background-color: #B5C4DC;
    border-left: 2px solid #192942;
    border-right: 2px solid #192942;
    width: 175px;
    padding: 10px;
    display: table-cell;
    text-align: center;
}

form#searchTutorsForm, form#searchTutorsForm input[type='submit'] {
    margin-top: 20px;
}

form#searchTutorsForm input[type='text'] {
    width: 150px;
    margin: 3px 0px;
    height: 20px;
}

form#searchTutorsForm #search-subject {
    width: 155px;
    margin: 3px 0px;
    height: 25px;
}

section#tutors {
    padding-left: 30px;
    padding-bottom: 30px;
}

section#tutors h2 {
    text-align: left;
}

.tutorBox {
    background-color: #F0EAE3;
    border: 1px solid #83192C;
    display: inline-block;
    height: 220px;
    vertical-align: top;
    margin: 8px 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tutorProfileLink {
    text-decoration: none;
}

.tutorBox span {
    color: black;
}

.tutorBox-small {
    width: 140px;
    display: inline-block;
}

.tutorPicture {
    background-image: url('../img/tweed.png');
    position: relative;
    border: 3px ridge #192942;
    margin: 5px auto;
    width: 120px;
    height: 160px;
    text-align: center;
}

.tutorPicture img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 120px;
    max-height: 160px;
    vertical-align: middle;
}

.tutorNameAvailability {
    padding: 5px 10px;
}

.tutorNameAvailability > img {
    width: 12px;
    float: right;
}

.tutorBox-extended {
    display: none;
    position: absolute;
    left: 140px;
    top: -1px;
    width: 312px;
    height: 220px;
    z-index: 1;
    background-color: #F0EAE3;
    border: 1px solid #83192C;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tutorBox-extended.extend-right {
    left: 140px;
    border-left: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tutorBox-extended.extend-left {
    left: 0px;
    border-right: none;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.5);
}

.tutorBox-extended .tutorNameRating {
    margin-top: 60px;
    margin-left: 15px;
}

.tutorBox-extended.extend-right .tutorNameRating {
    margin-top: 60px;
    margin-left: 15px;
}

.tutorBox-extended.extend-left .tutorNameRating {
    margin-top: 60px;
    margin-right: 15px;
    text-align: right;
}

.tutorBox-extended .tutorName, .tutorNamePending .tutorName {
    font-size: 2em;
}

.available, .busy, .unavailable {
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
    margin: 5px;
    float: right;
}

.extend-right .available, .extend-right .busy {
    float: right;
}

.extend-left .available, .extend-left .busy {
    float: left;
}

.available {
    border-color: #066D18;
    background-color: #86CD93;
}

.busy {
    border-color: #C2C018;
    background-color: #F7F698;
}

.unavailable {
    border-color: #464646;
    background-color: #B3B3B3;
}

.rating {
    margin-left: 20px;
}

.extend-right .rating {
    margin-left: 20px;
}

.extend-left .rating {
    margin-right: 20px;
}

.ratingStars {
    display: inline-block;
}

.ratingStars img {
    width: 16px;
}

/* End search page styling. */


/* Begin registration page styling. */

#registerMain {
    padding-top: 50px;
    padding-bottom: 50px;
}

#registration {
    width: 500px;
    margin: 0px auto;
    background-color: #fff6eb;
    border: 2px solid #b0a69b;
}

#registrationForm label {
    display: inline-block;
    width: 175px;
    text-align: right;
}

#registrationForm input {
    width: 250px;
    margin: 5px 0px 5px 10px;
    height: 20px;
}

#registrationForm div {
    text-align: center;
}

#registrationForm #register {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* End registration page styling. */


/* Begin applications page styling. */

#applicationsMain > h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tutorPictureTranscript {
    float: left;
    padding: 7px 0px;
    margin: 13px 0px 4px 0px;
}

.tutorNamePending {
    clear: both;
    padding-left: 10px;
}

img.applicationStatus {
    visibility: hidden;
    height: 35px;
    float: right;
    margin-right: 10px;
    transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
}

div.reviewCourses, div.reviewHours {
    display: inline-block;
    height: 200px;
    width: 300px;
    float: left;
    margin: 15px 5px 4px 15px;
}

div.reviewCourses ul, div.reviewHours ol {
    list-style: none;
    padding: 0px 0px 0px 15px;
}

div.reviewCourses li, div.reviewHours li {
    padding-bottom: 3px;
}

div.reviewCourses span.listLabel {
    width: 105px;
    vertical-align: top;
}

span.listLabel {
    display: inline-block;
    width: 110px;
    font-weight: bold;
}

ul span.listContent {
    display: inline-block;
    width: 180px;
}

ul span.listContent {
    display: inline-block;
    width: 170px;
}

.viewTranscript.button {
    width: 110px;
}

.reviewButtons {
    float: right;
    margin-top: 5px;
}

.reviewButtons .button {
    font-weight: bold;
}

.deny.button {
    background: -webkit-gradient(linear, left top, left bottom, from(#E6B3BC), to(#D27283));
    border-color: #83192C;
}

.deny.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#D27283), to(#E6B3BC));
    color: #444;
}

.approve.button {
    background: -webkit-gradient(linear, left top, left bottom, from(#B2DDB1), to(#95CE94));
    border-color: #498D47;
}

.approve.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#95CE94), to(#B2DDB1));
    color: #444;
}

/* End applications page styling. */


/* Styling for History. */

.history h2.heading {
    text-align: left;
    margin-top: 5px;
}

/* Styling for meeting. */

.meeting {
    padding: 10px;
    margin: 0px 30px 20px 30px;
    background-color: #F2E4D4;
    border-width: 1.6px;
    border-style: solid;
    border-color: #B0A69B;
    position: relative;
}

article.meeting:first-of-type {
    margin-top: 20px;
}

.date_time {
    color: #777;
    float: right;
    text-align: right;
}

.course_contributor {
    width: auto;
    text-align: right;
    display: inline-block;
}

.summary {
    display: block;
    margin: 15px 15px 4px 15px;
    padding: 12px 10px 12px 10px;
    background-color: #FFF6EB;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD4C9;
}

/* End styling for meeting. */

/* End Styling for History. */

/* Styling for Student History View. */

section#student_history {
    display: block;
    position: relative;
}

#share {
    width: 25px;
    position: absolute;
    right: 4%;
    top: 3%;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCF3EA), to(#E2D5C5));
    border-width: 1px;
    border-style: solid;
    border-color: #CEC2B3;
    border-radius: 5px;
    padding: 7px;
}

#share:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E2D5C5), to(#FCF3EA));
}

.hover {
    display: none;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    color: white;
    padding: 5px;
    position: absolute;
}

#share_message {
    right: 3.5%;
    top: 3%;
    margin-top: 48px;
}

/* Styling for Share window. */

#share_window {
    display: none;
    background-color: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}

#share_window #share_form {
    position: fixed;
    width: 400px;
    height: auto;
    left: 50%;
    top: 25%;
    margin-left: -175px;
    background-color: #FEECDA;
    border-style: solid;
    border-color: #B9B499;
}

.share_email_holder {
    margin-bottom: 10px;
}

.share_email {
    text-align: center;
}

.share_email input {
    display: inline-block;
    width: 150px;
    margin-left: 2%;
}

.share_email label {
    display: inline-block;
    text-align: right;
}

div.center {
    text-align: center;
    margin: 5px;
}

.send {
    background: -webkit-gradient(linear, left top, left bottom, from(#B40527), to(#83192C));
    color: white;
}

.send:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#83192C), to(#B40527));
    color: #CCC;
}

#share_alert {
    display: none;
}

/* End styling for Share window. */

/* End styling for Student History View. */

/* Styling for Tutor History View. */

section#tutor_history {
    display: none;
    position: relative;
}

#history_view {
    position: absolute;
    width: 250px;
    top: 27px;
    left: 550px;
}

#history_view a {
    border: 1px solid #192942;
    background-color: #192942;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3092B0), to(#22667B));
    background-image: -webkit-linear-gradient(top, #3092B0, #22667B);
    background-image: linear-gradient(to  bottom, from(#3092B0), to(#22667B));
}

.add {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 1.7em;
    color: white;
    top: 7px;
    right: 7px;
    padding: 0px 9px 2px 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #192942;
    border-radius: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#969CA9), to(#192942));
    cursor: pointer;
}

.add_meeting {
    position: relative;
    height: 30px;
}

.add:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#192942), to(#969CA9));
    color: #CCC;
}

.subtract {
    display: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#B57580), to(#83192C));
    border-color: #83192C;
}

.subtract:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#83192C), to(#B57580));
    color: #CCC;
}

#add_message {
    display: none;
    top: 10px;
    right: -35px;
}

#cancel_message {
    display: none;
    top: 10px;
    right: -50px;
}

/* Styling for new meeting. */

#meeting_form {
    display: none;
}

#meeting_form input {
    display: inline-block;
    border-radius: 5px;
}

#meeting_form textarea {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 0;
    border-radius: 5px;
}

#meeting_form input[name="student_id"] {
    width: 197px;
}

#meeting_form label {
    display: inline-block;
    width: 40%;
    margin: 5px;
    text-align: right;
}

#meeting_form label[for="summary"]{
    display: inline-block;
    width: auto;
    margin: 10px 0px;
}

#meeting_form label[for="student_id"]{
    margin-top: 15px;
}

#summary {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

/* End styling for new meeting. */

/* End styling for Tutor History View. */

/* Styling for Search for Student. */

#find_student h2 {
    text-align: left;
}

#find_student h3 {
    margin-left: 30px;
}

#find_student #search_bar {
    background-color: #B5C4DC;
    border-top: 2px solid #192942;
    border-bottom: 2px solid #192942;
    margin-right: -7px;
    margin-left: -7px;
    margin-bottom: 10px;
    padding: 10px 40px;
    text-align: center;
}

#search_bar input {
    width: 150px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 5px;
}

#find_student #results {
    display: none;
}

#find_student #search_bar #search_send {
    width: 50px;
}

/* End styling for Search for Student. */

/* Styling for About Us */

img[src="tutoring.png"] {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* End syling for About Us*/

/* Styling for Contact Us */

.information {
    text-align: center;
}

/* End styling for Contact Us */

/* Styling for Tutor Profile */

section#profileBox > img {
    max-width: 140px;
    max-height: 160px;
    margin-top: 10px;
}

div#tutorInformation {
    display: inline-block;
    margin-left: 10px;
}

section#rating, section#rating h2, 
section#rating span h3 span, .schedule {
    display: inline-block;
}

.schedule ul {
    list-style: none;
}

section#comments {
    display: block;
    position: relative;
}

section#comments h2 {
    position: absolute;
}

textarea {
    resize: none;
    margin-top: 50px;
}

input[name="addComment"] {
    display: block;
    margin-bottom: 20px;
    margin-left: 325px;
}

div#commentList {
    width: 425px;
    height: 200px;
    overflow: scroll;
    background-color: white;
}

div#commentList ul {
    list-style: none;
    display: inline;
}

div#commentList ul li:nth-child(odd) {
    background-color: #FEECDA;
}

/* End styling for Tutor Profile */

